data_owner/ 
gold_crossref_response.csv
results.json
Bridge4AND/failed_responses.json
Bridge4AND/success_responses.json
results/
scientometrics_complete_metadata.json
scientometrics_complete.json
diagnostic_venue.py
test.py
tests/